.icon-container {
    position: relative;
    display: inline-block;

    .hover-text {
        visibility: hidden;
        width: 240px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        /* Position the tooltip above the icon */
        left: 50%;
        margin-left: -60px;
        /* Center the tooltip */

        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }

    &:hover .hover-text {
        visibility: visible;
        opacity: 1;
    }
}