<div class="row right">
	<!-- Reset button -->
	<app-button-reset
		[label]="'buttons.reset' | transloco"
		(resetClick)="onResetClick()"></app-button-reset>
</div>

<div class="input-wrapper">
	<div class="input-container">
		<!-- Gross income -->
		<div class="row">
			<app-input-number
				class="input"
				[label]="'inputs.gross-income.label' | transloco"
				[formControl]="grossIncomeControl"></app-input-number>
			<app-icon-help
				[helpText]="
					'inputs.gross-income.helpText' | transloco
				"></app-icon-help>
			<app-icon-info
				[infoText]="
					'inputs.gross-income.infoText' | transloco
				"></app-icon-info>
		</div>

		<!-- Pension % -->
		<div class="row">
			<app-input-percentage
				class="input"
				[label]="'inputs.pension-percentage.label' | transloco"
				[formControl]="pensionPercentageControl"></app-input-percentage>
			<app-icon-help
				[helpText]="
					'inputs.pension-percentage.helpText' | transloco
				"></app-icon-help>
			<app-icon-info
				[infoText]="
					'inputs.pension-percentage.infoText' | transloco
				"></app-icon-info>
		</div>

		<!-- Tax deduction -->
		<div class="row">
			<app-input-number
				class="input"
				[label]="'inputs.tax-deduction.label' | transloco"
				[formControl]="taxDeductionControl"></app-input-number>
			<app-icon-help
				[helpText]="
					'inputs.tax-deduction.helpText' | transloco
				"></app-icon-help>
			<app-icon-info
				[infoText]="
					'inputs.tax-deduction.infoText' | transloco
				"></app-icon-info>
		</div>

		<!-- Tax rate -->
		<div class="row">
			<app-input-percentage
				class="input"
				[label]="'inputs.tax-rate.label' | transloco"
				[formControl]="taxRateControl"></app-input-percentage>
			<app-icon-help
				[helpText]="
					'inputs.tax-rate.helpText' | transloco
				"></app-icon-help>
			<app-icon-info
				[infoText]="
					'inputs.tax-rate.infoText' | transloco
				"></app-icon-info>
		</div>
	</div>
</div>
