<!-- Reset button -->
<app-button-reset></app-button-reset>

<!-- Gross income -->
<div class="row">
    <app-input-number></app-input-number>
    <app-icon-help></app-icon-help>
    <app-icon-info></app-icon-info>
</div>

<!-- Pension % -->
<div class="row">
    <app-input-percentage></app-input-percentage>
    <app-icon-help></app-icon-help>
    <app-icon-info></app-icon-info>
</div>

<!-- Tax deduction -->
<div class="row">
    <app-input-number></app-input-number>
    <app-icon-help></app-icon-help>
    <app-icon-info></app-icon-info>
</div>

<!-- Tax rate -->
<div class="row">
    <app-input-percentage></app-input-percentage>
    <app-icon-help></app-icon-help>
    <app-icon-info></app-icon-info>
</div>