@switch (data.type) {
	@case ('checkbox') {
		@for (option of data.options; track $index) {
			<input [formControlName]="data.name" type="checkbox" />
		}
	}

	@case ('radio') {
		@for (option of data.options; track $index) {
			<input [formControlName]="data.name" type="radio" />
		}
	}

	@case ('select') {
		<select [formControlName]="data.name">
			@for (option of data.options; track $index) {
				<option [value]="option.value">
					{{ option.label }}
				</option>
			}
		</select>
	}

	@case ('text') {
		<input [formControlName]="data.name" type="text" />
	}

	@case ('number') {
		<input [formControlName]="data.name" type="number" />
	}

	@case ('email') {
		<textarea [formControlName]="data.name"></textarea>
	}

	@case ('password') {
		<input [formControlName]="data.name" type="password" />
	}

	@case ('date') {
		<input [formControlName]="data.name" type="date" />
	}
}
